/* GENERAL */

* {
    margin: 0; /* reset margin */
    padding: 0; /* reset padding */
}

body {
	font-family: "courier new", courier, "helvetica neue", helvetica, arial, sans-serif; /* default fonts */
	background-color: #004237; /* dark green */
}

/* HEADER AND NAVIGATION */

header {
	position: relative;
    width: 100%;
    height: 150px;
    padding-top: 15px;
    background-color: #009c00; /* light green */
}

@media screen and (min-width: 400px) and (max-width: 875px) { /* responsive navigation bar */
	header {
		height: 270px;
	}

	nav ul li {
		clear: both;
	}

	nav ul li:nth-child(n+2) {
		margin-top: 20px;
	}
}

#demo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
    height: 100px;
}

#logo {
	display: block;
    width: 150px;
    height: auto;
}

#logoLink {
	display: block;
	width: 150px;
	height: auto;
	margin: 0 auto;
}

#navWrapper {
	position: absolute;
    bottom: 0px;
    width: 100%;
}

nav {
    position: relative;
    right: 0px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
}

nav ul {
	margin-right: -20px;
}

nav ul li {
    display: block;
    float: right;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #004237; /* dark green */
    padding: 10px 20px;
}

nav ul li a:hover {
    color: #009c00; /* light green */
    background-color: #004237; /* dark green */
}

/* CONTENT */

#contentWrapper {
	position: relative;
    width: 80%;
    min-height: 350px;
    margin: 0 auto;
    background-color: #004237; /* dark green */
}

.sectionTitle {
	display: block;
	text-align: center;
    margin: 20px auto;
    color: #009c00; /* light green */
    background-color: #004237; /* dark green */
    font-size: 35px;
    font-weight: bold;
    clear: both;
}

/* PRODUCTS */

.products {
	margin-left: -15px;
	margin-right: -15px;
}

/* PRODUCT */

.product {
	display: block;
	background-color: #FFF; /* light green */
	color: #004237; /* dark green */
	border-radius: 5px;
	float: left;
	margin: 15px;
	padding: 10px;
	max-height: 310px;
	min-height: 310px;
	max-width: 245px;
	min-width: 245px;
	overflow: hidden;
}

.product:last-of-type {
	margin-bottom: 60px;
}

/* PRODUCT LINK */

.productLink {
	display: block;
	text-decoration: none;
}

/* PRODUCT TITLE */

.productTitle {
	display: block;
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	background-color: #009c00; /* light green */
	margin: -10px -10px 20px -10px;
	padding: 10px; 
	color: #FFF; /* white */
	float: none;
	clear: both;
}

.productTitle:hover {
	opacity: 0.8;
}

.productTitle:active {
	opacity: 0.7;
}

/* PRODUCT IMAGE WRAPPER */

.productImageWrapper {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	height: 180px;
	border: 5px solid #004237; /* dark green */
	border-radius: 100%;
	background-color: white;
	clear: both;
	overflow: hidden;
}

/* PRODUCT IMAGE */

.productImage {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	opacity: 0.7;
	max-width: 170px;
	max-height: 170px;
	width: auto;
	height: auto;
}

.product:hover > .productImageWrapper > .productImage {
	opacity: 1;
}

/* BUY BUTTON */

.buyButton {
	display: block;
	margin: 20px auto;
	border: none;
	border-radius: 5px;
	max-width: 95%;
	height: 35px;
	max-height: 35px;
	overflow: hidden;
	outline-color: #009c00; /* light green */
	outline: 0;
}

.buyButton:hover {
	opacity: 0.8;
}

.buyButton:active {
	opacity: 0.7;
}

.productPrice {
	font-family: "courier new", courier, "helvetica neue", helvetica, arial, sans-serif; /* default fonts */
	font-size: 15px;
	color: #FFF;
	padding: 10px 10px;
	display: block;
	height: 100%;
	float: left;
	margin: auto 0;
	font-weight: normal;
	background-color: #009c00; /* light green */
}

.buyButtonText {
	font-family: "courier new", courier, "helvetica neue", helvetica, arial, sans-serif; /* default fonts */
	font-size: 15px;
	color: #FFF;
	padding: 10px 10px;
	display: block;
	height: 100%;
	float: left;
	margin: 0;
	font-weight: normal;
	background-color: #004237; /* dark green */
}

/* CATEGORIES */

.categories {
	display: block;
	width: auto;
	height: auto;
	border-radius: 10px;
	margin-bottom: 60px;
	overflow: auto;
}

/* CATEGORY */

.category {
	position: relative;
	display: block;
	float: left;
	max-width: 384px;
	width: 384px;
	min-width: 384px;
	max-height: 250px;
	height: 250px;
	min-height: 250px;
	overflow: hidden;
}

/* CATEGORY LINK */

.categoryLink {
	display: table;
	position: inherit;
	text-decoration: inherit;
	height: inherit;
	width: inherit;
}

/* CATEGORY TITLE */

.categoryTitle {
	margin: auto 0;
	color: #fff;
	line-height: 250px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: inherit;
	height: inherit;
	position: absolute;
	vertical-align: middle;
	z-index: 1;
}

/* CATEGORY IMAGE */

.categoryImage {
	display: block;
	position: absolute;
	width: inherit;
	height: inherit;
}

.category:hover .categoryImage {
	opacity: 0.35 !important;
}

/* CATEGORY IDS */

#menCategory .categoryImage {
	background: linear-gradient(rgba(200, 156, 200, 0.75), rgba(0, 200, 0, 0.80)), url(images/men.jpg) no-repeat;
	background-size: 100% auto;
}

#womenCategory .categoryImage {
	background: linear-gradient(rgba(200, 156, 100, 0.75), rgba(0, 220, 0, 0.80)), url(images/women.jpg) no-repeat;
	background-size: 100% auto;
}

#childrenCategory .categoryImage {
	background: linear-gradient(rgba(200, 156, 100, 0.75), rgba(0, 205, 0, 0.80)), url(images/children.jpg) no-repeat;
	background-size: 100% auto;
}

#mountainCategory .categoryImage {
	background: linear-gradient(rgba(200, 156, 100, 0.75), rgba(0, 195, 0, 0.80)), url(images/mountain.jpg) no-repeat;
	background-size: 100% auto;
}

#accessoriesCategory .categoryImage {
	background: linear-gradient(rgba(200, 156, 100, 0.75), rgba(0, 230, 0, 0.80)), url(images/accessories.jpg) no-repeat;
	background-size: auto 100%;
}

#saleCategory .categoryImage {
	background: linear-gradient(rgba(200, 156, 100, 0.75), rgba(0, 225, 0, 0.80)), url(images/sale.jpg) no-repeat;
	background-size: auto 100%;
}

/* FOOTER */

footer {
	height: 150px;
	width: 100%;
	background-color: #009c00; /* light green */
	clear: both;
}